html, body {
  height: 100%;
}

body {
  background-image: url('../assets/bliss.jpg');
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto ;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  background-color: rgb(6, 6, 6);

}

h1 {
  font-family: utm-cooper-black;
  font-size: 30px;
}

